{% extends 'intern_platform/normbase.html' %}

{% load static %}

{% block title %}About - Intern Platform{% endblock %}

{% block content %}
<style>
    body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
<div class="about-section">
    <h1>About Us Page</h1>
    <p>This is the intern platform middleware between employer and internship seekers.</p>
    <p>testing.</p>
  </div>
  
  <h2 style="text-align:center">Our Internship Providers includes</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="{% static 'images/seimens.jpg' %}" alt="seimens" style="width:100%">
        <div class="container">
          <h2>Seimens Healthcare</h2>
          <p class="title">India/USA</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>seimens@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="{% static 'images/gr.png' %}" alt="GE" style="width:100%">
        <div class="container">
          <h2>GE healthcare</h2>
          <p class="title">Manufactures</p>
          <p>Worst best Medical Equipment Manufacturers.</p>
          <p>ge@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="{% static 'images/oneyes.png' %}" alt="oneyes" style="width:100%">
        <div class="container">
          <h2>Oneyes</h2>
          <p class="title">Designer</p>
          <p>Software development</p>
          <p>Oneyes@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
